<div class="card">
  <p-toolbar>
    <a routerLink="/" routerLinkActive="active"> <span class="p-toolbar-brand">Mercedes Benz Parts</span>
    </a>
    
      <form [formGroup]="form">
        <p-dropdown
          formControlName="city"
          [options]="countries"
          optionLabel = "name"
        ></p-dropdown>
      </form>
   
  </p-toolbar>
</div>
<router-outlet></router-outlet>
<!-- <p-toolbar>
  <div class="p-toolbar-group-left">
    <span class="p-toolbar-brand">Your Website Name</span>
  </div>

  <div class="p-toolbar-group-right">
    <p-dropdown formControlName="selectedAction" placeholder="Select an Action">
      <ng-container *ngFor="let action of actions">
        <p-dropdownItem [value]="action">
          <i [ngClass]="action.icon"></i> {{ action.label }}
        </p-dropdownItem>
      </ng-container>
    </p-dropdown>

    <p-dropdown formControlName="selectedCountry" optionLabel="name" [showClear]="true" placeholder="Select a Country">
      </p-dropdown>
  </div>
</p-toolbar> -->
