.custom-toolbar-button {
    margin-right: 4px; /* Adjust the margin as needed */
  }
  
  .custom-toolbar-separator {
    margin-right: 8px; /* Adjust the margin as needed */
  }
  .btn{
    display: flex;
    justify-content: space-between;
  }