.containerr{
   display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 500px;
   
}

.info{
    margin-bottom: 10px;
}

form{
    width: 400px;
}